@import "tailwindcss";

.over {
  scrollbar-width: thin;             
  scrollbar-color: #888 #f1f1f1;      
}

.over::-webkit-scrollbar {
  display: none;
  width: 8px;
  height: 8px;
}

.over::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.over::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.over::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  position: relative;
  top: 50%;
}

.slider-thumb::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.scrollbar-hide-x {
  overflow-x: auto;      
  -ms-overflow-style: none;
  scrollbar-width: none;    
}
.scrollbar-hide-x::-webkit-scrollbar {
  height: 0 !important; 
}